.cell {
	height: 30px;
	width: 30px;
	border: 1px solid #535353;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
}

.revealed {
	background-color: white;
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle inner shadow */
}

.hidden {
	background-color: #858585;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle outer shadow */
}

.number-1 {
	color: blue;
}

.number-2 {
	color: green;
}

.number-3 {
	color: red;
}

.number-4 {
	color: purple;
}

.number-5 {
	color: maroon;
}

.number-6 {
	color: turquoise;
}

.number-7 {
	color: black;
}

.number-8 {
	color: gray;
}

.clicked-mine {
	background-color: red;
}
