<div @onclick:stopPropagation="true" @onclick:preventDefault="true">
    <div class="@($"cell {(Cell.IsRevealed ? "revealed" : "hidden")} {(Cell.IsRevealed && Cell.IsMine.HasValue && Cell.IsMine.Value ? "clicked-mine" : "")}")"
         @onclick="Reveal" @oncontextmenu="ToggleFlag" @oncontextmenu:preventDefault="true">
        @if (Cell.IsRevealed)
        {
            @if (Cell.IsMine != null)
            {
                @if (Cell.IsMine.Value)
                {
                    <span class="clicked-mine">💣</span>
                }
                else
                {
                    @if (Cell.AdjacentMines > 0)
                    {
                        <span class="@($"number-{(Cell.AdjacentMines)}")">@Cell.AdjacentMines</span>
                    }
                    else
                    {
                        <span class="empty"></span>
                    }
                }
            }

        }
        else
        {
            @if (Game.IsGameOver)
            {
                @if (Cell.IsMine != null)
                {
                    @if (Cell.IsMine.Value)
                    {
                        @if(Cell.IsFlagged)
                        {
                            <span class="flag">🚩</span>
                        }
                        else
                        {
                            <span class="mine">💣</span>
                        }
                    }
                    else
                    {
                        @if (Cell.IsFlagged)
                        {
                            <span class="flag">X</span>
                        }
                    }
                }
            }
            else
            {
                @if (Cell.IsFlagged)
                {
                    <span class="flag">🚩</span>
                }
            }
        }
    </div>
</div>