<h2>Mine Count: @Game.MineCounter() </h2>
<h2>Timer: @Timer</h2>

@if (Game.IsGameOver)
{
    <h2>Game Over!</h2>
}

@if (Game.IsGameWon)
{
    <h2>You won!</h2>
}

<div class="board-container">
    <div class="board" @onclick:preventDefault @onclick:stopPropagation>
        @for (var i = 0; i < Game.Rows; i++)
        {
            <div class="row" @onclick:preventDefault @onclick:stopPropagation>
                @for (var j = 0; j < Game.Columns; j++)
                {
                    var cell = Game.GetCell(i, j);

                    @if (cell != null)
                    {
                        <CellComponent Cell="cell" RevealCell="RevealCell" FlagCell="FlagCell" Game="Game" />
                    }
                }
            </div>
        }
    </div>
</div>