<h2>Mine Count: @Game.MineCounter() </h2>
<h2>Timer: @(Timer.ToString("F1"))</h2>

@if (Game.IsGameOver)
{
    <h2>Game Over!</h2>
}

@if (Game.IsGameWon)
{
    <h2>You won!</h2>
}

<div class="board-container">
    <div class="board" @onclick:preventDefault @onclick:stopPropagation>
        @for (var c = 0; c < Game.Columns; c++)
        {
            <div class="column" @onclick:preventDefault @onclick:stopPropagation>
                @for (var r = 0; r < Game.Rows; r++)
                {
                    var cell = Game.GetCell(r, c);

                    @if (cell != null)
                    {
                        <CellComponent Cell="cell" RevealCell="DigCell" FlagCell="FlagCell" Game="Game" />
                    }
                }
            </div>
        }
    </div>
</div>